body {
	margin: 0;
	padding: 0;
	font-family: "Arial", "Lucida Grande", "Lucida Sans", Verdana, Tahoma, sans-serif;
	font-size: 9pt;
	color: #262626;
	background: #292929 url('./images/bg_repeat.png') repeat-x;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li:last-child {
  border: none;
}
 
li {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
	-webkit-transition: font-size 1.4s ease, background-color 1.4s ease;
	-moz-transition: font-size 1.4s ease, background-color 1.4s ease;
	transition: font-size 1.4s ease, background-color 1.4s ease;
}
 
li:hover {
  font-size: 30px;
  background: #f6f6f6;
}
a {
	text-decoration: none;
}
#wrapper {
	width: 760px;
	height: 100%;
	margin: 0 auto;
}
#top {
	width: 760px;
	height: 40px;
	color: #fff;
}
.navigation {
	width: 570px;
	margin: auto;
	padding-top: 10px;
}
#logo_bg {
	width: 100%;
	height: 180px;
}
#logo {
	width: 423px;
	height: 80px;
	margin: 41px auto;
}
#welcome {
	color: white;
	font-size: 11pt;
	text-align: center;
}
#welcome a {
	color: white;
	font-weight: bold;
}
#welcome a:hover {
	text-decoration: underline;
}

.dividerr {
	content:url(./images/divider.png);
}
.center {
	width: 100%;
	color: #fff;
}
.center_navigation li {
	float: left;
}
.center_navigation li a:hover {
	opacity: 0.7;
}
table {
	border: 1px solid white;
	color: #fff;
}
#chatlog {
	border: 1px solid white;
	color: #000000;
	background-color: #fffff;
}

