body {
	margin: 0;
	padding: 0;
	font-family: "Arial", "Lucida Grande", "Lucida Sans", Verdana, Tahoma, sans-serif;
	font-size: 9pt;
	color: #262626;
	background: #292929 url('./images/bg_repeat.png') repeat-x;
}
a {
	text-decoration: none;
}
#wrapper {
	width: 760px;
	height: 100%;
	margin: 0 auto;
}
#top {
	width: 760px;
	height: 40px;
	color: #fff;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#top ul li {
	list-style: none;
	display: inline;
}
#top ul li a {
	color: #fff;
	font-size: 10pt;
	padding-left: 10px;
	padding-right: 10px;
	font-family: "Arial";
	font-weight: bold;
}
#top ul li a:hover {
	color: #292929;
}
.navigation {
	width: 570px;
	margin: auto;
	padding-top: 10px;
}
#logo_bg {
	width: 100%;
	height: 180px;
}
#logo {
	width: 423px;
	height: 80px;
	background: url(./images/logo.png) no-repeat center top;
	margin: 41px auto;
}
#welcome {
	color: white;
	font-size: 11pt;
	text-align: center;
}
#welcome a {
	color: white;
	font-weight: bold;
}
#welcome a:hover {
	text-decoration: underline;
}

.ponline {
	color: white;
	width: 150px;
	margin: auto;
	padding-top: 0px;
}
.ponline ul li {
	padding: 0 10px 0 10px;
	float: left;
}
.ponline ul li a {
	color: #fff;
	font-size: 11pt;
}
.dividerr {
	content:url(./images/divider.png);
}
.donate1 {
	color: white;
	width: 150px;
	margin: auto;
	padding-top: 0px;
}
.donate1 ul li {
	padding: 0 10px 0 10px;
	float: left;
}
.donate1 ul li a {
	color: #fff;
	font-size: 11pt;
}
.center {
	width: 100%;
	color: #fff;
}
.center_navigation li {
	float: left;
}
.center_navigation li a:hover {
	opacity: 0.7;
}
#rss {
	width: 100%;
	height: 80px;
	color: #fff;
	text-align: center;
}
.rsscontent {
	width: 450px;
	margin: auto;
}
#rss td a {
	color: #fff;
	font-size: 10pt;
}
#rss td a:hover {
	opacity: 0.7;
}
.title {
	text-transform: uppercase;
}
.date {
	font-size: 8pt;
}
#twitter {
	width: 650px;
	height: 200px;
	margin: 0 auto;
}
#footer {
	width: 570px;
	height: 100px;
	margin: auto;
}
.footer_nav {
	width: 570px;
	margin: auto;
	padding-top: 30px;
}
.footer_nav ul li {
	padding: 0 10px 0 10px;
	float: left;
}
.footer_nav ul li a {
	color: #fff;
	font-size: 11pt;
}
.benefits {
	font-size: 12pt;
	color: fff;
	text-align: center;
}

.bullet {
	color: fff;
	font-size: 10pt;
}

.copyright {
	font-size: 8pt;
	color: #fff;
	text-align: center;
	padding-top: 30px;
}
.coder {
	font-size: 8pt;
	color: #fff;
	text-align: center;
}
.coder a {
	font-size: 8pt;
	color: #fff;
	font-weight: bold;
}
.clear {
	clear: both;
}
input.rounded {

	background-color: gray;
}

input.rounded:focus {

	background-color: orange;
}
table {

	border-collapse: collapse;
	border-spacing: 10px;
	width: 10%;
}
table, th, td {
	border: 1px solid white;
	color: #fff;
	text-align: left;
}
#chatlog {
	
	border: 1px solid white;
	color: #000000;
	background-color: #fffff;
	
}

